doctype
html(lang='en')
  include ../../../components/head/index.pug
  body
    // new header fat
    header.__header.trapeze.trapeze_4
      .container
        .row
          .col-md-2
            .logo
              a(href='#')
                img(src=require('../../../../public/images/header-icons/logo.svg') alt='')
          .col-md-6.pl--0
            .custom-block
              button.btn.catalog-btn
                span
                |  &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy; &tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;
              .search-box.fat-v2-width
                #overlay(onclick='javascript: close_all();')
                form(action='')
                  .field__box
                    input#edit_search(type='text' autocomplete='off' onkeyup='javascript: find_my_div();' placeholder='Найти...')
                  button.btn.submit
                    img(src=require('../../../../public/images/header-icons/search-icon.svg') alt='')
                #search-result
                  a#user_0.s-item-link(href='#')
                    .s-item-img
                      img(src=require('../../../../public/images/30851ff8e294859c3b812fef189cce5b.jpeg') alt='')
                    .s-item-info
                      span.s-item-title &Zcy;&ocy;&lcy;&ocy;&tcy;&ocy;&iecy; &yacy;&bcy;&lcy;&ocy;&kcy;&ocy;
                      span.s-item-price 247$
                  a#user_1.s-item-link(href='#')
                    .s-item-img
                      img(src=require('../../../../public/images/30851ff8e294859c3b812fef189cce5b.jpeg') alt='')
                    .s-item-info
                      span.s-item-title &dcy;&ocy;&scy;&kcy;&acy; asd asd asd asdas 
                      span.s-item-price 247$
                  a#user_2.s-item-link(href='#')
                    .s-item-img
                      img(src=require('../../../../public/images/30851ff8e294859c3b812fef189cce5b.jpeg') alt='')
                    .s-item-info
                      span.s-item-title &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
                      span.s-item-price 247$
                  a#user_3.s-item-link(href='#')
                    .s-item-img
                      img(src=require('../../../../public/images/30851ff8e294859c3b812fef189cce5b.jpeg') alt='')
                    .s-item-info
                      span.s-item-title &Zcy;&ocy;&lcy;&ocy;&tcy;&ocy;&iecy; &yacy;&bcy;&lcy;&ocy;&kcy;&ocy;
                      span.s-item-price 247$
                  a#user_4.s-item-link(href='#')
                    .s-item-img
                      img(src=require('../../../../public/images/30851ff8e294859c3b812fef189cce5b.jpeg') alt='')
                    .s-item-info
                      span.s-item-title &dcy;&ocy;&scy;&kcy;&acy; asd asd asd asdas 
                      span.s-item-price 247$
                  a#user_5.s-item-link(href='#')
                    .s-item-img
                      img(src=require('../../../../public/images/30851ff8e294859c3b812fef189cce5b.jpeg') alt='')
                    .s-item-info
                      span.s-item-title &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
                      span.s-item-price 247$
                  a.all-items-link(href='#') &Vcy;&scy;&iecy; &kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;&icy;
          .col-md-4
            .contact-box.c-box-fat-v2
              p
                span.circle
                span.show-number &Pcy;&ocy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; .. 10-53-28
                a(href='#') +7(960) 810-53-28
                a(href='#') +7(960) 810-53-28
              a.order-call(href='#' data-fancybox='callme-modal' data-src='#callme-modal')
                span &Zcy;&acy;&pcy;&rcy;&ocy;&scy;&icy;&tcy;&softcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;
      // catalog
      .catalog-box
        .container
          // Образец выделения активного пункта 1 (цвет) = hover--color
          // Образец выделения активного пункта 2 (подчеркивание) = hover--underline
          // Образец выделения активного пункта 3 (стрелка) = hover--arrow
          // Пример, когда иконка слева от текста = link--arrow-left
          // Пример, когда иконка справа от текста = link--arrow-right
          // все класси для 1ого варианта ховера = hover--color link--arrow-right
          // все класси для 2ого варианта ховера = hover--color hover--underline link--arrow-right
          // все класси для 3ого варианта ховера = hover--color link--arrow-right hover--arrow
          ul.hover--color.hover--underline.link--arrow-left
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 1
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 2
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 3
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Vcy; &ocy;&dcy;&ncy;&ucy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; &mcy;&iecy;&ncy;&yucy; &vcy; 2 &scy;&tcy;&rcy;&ocy;&kcy;&icy;
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Pcy;&rcy;&icy;&mcy;&iecy;&rcy;, &kcy;&ocy;&gcy;&dcy;&acy; &icy;&kcy;&ocy;&ncy;&kcy;&acy; &scy;&lcy;&iecy;&vcy;&acy; &ocy;&tcy; &tcy;&iecy;&kcy;&scy;&tcy;&acy;
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 1
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 2
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 3
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Vcy; &ocy;&dcy;&ncy;&ucy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; &mcy;&iecy;&ncy;&yucy; &vcy; 2 &scy;&tcy;&rcy;&ocy;&kcy;&icy;
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; &mcy;&iecy;&ncy;&yucy; &vcy; 2 &scy;&tcy;&rcy;&ocy;&kcy;&icy;
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy; &tcy;&ocy;&vcy;&acy;&rcy;&acy; &icy;&lcy;&icy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&acy;&jcy;&tcy;&acy;  &Tcy;&rcy;&icy; &scy;&tcy;&rcy;...
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy; &tcy;&ocy;&vcy;&acy;&rcy;&acy; &icy;&lcy;&icy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&acy;&jcy;&tcy;&acy;  &Tcy;&rcy;&icy; &scy;&tcy;&rcy;...
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy; &tcy;&ocy;&vcy;&acy;&rcy;&acy; &icy;&lcy;&icy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&acy;&jcy;&tcy;&acy;  &Tcy;&rcy;&icy; &scy;&tcy;&rcy;...
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy; &tcy;&ocy;&vcy;&acy;&rcy;&acy; &icy;&lcy;&icy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&acy;&jcy;&tcy;&acy;  &Tcy;&rcy;&icy; &scy;&tcy;&rcy;...
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy; &tcy;&ocy;&vcy;&acy;&rcy;&acy; &icy;&lcy;&icy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&acy;&jcy;&tcy;&acy;  &Tcy;&rcy;&icy; &scy;&tcy;&rcy;...
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy; &tcy;&ocy;&vcy;&acy;&rcy;&acy; &icy;&lcy;&icy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&acy;&jcy;&tcy;&acy;  &Tcy;&rcy;&icy; &scy;&tcy;&rcy;...
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy; &tcy;&ocy;&vcy;&acy;&rcy;&acy; &icy;&lcy;&icy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&acy;&jcy;&tcy;&acy;  &Tcy;&rcy;&icy; &scy;&tcy;&rcy;...
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy; &tcy;&ocy;&vcy;&acy;&rcy;&acy; &icy;&lcy;&icy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&acy;&jcy;&tcy;&acy;  &Tcy;&rcy;&icy; &scy;&tcy;&rcy;...
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy; &tcy;&ocy;&vcy;&acy;&rcy;&acy; &icy;&lcy;&icy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&acy;&jcy;&tcy;&acy;  &Tcy;&rcy;&icy; &scy;&tcy;&rcy;...
            li
              span
                img(src=require('../../../../public/images/header-icons/link-arrow.svg') alt='')
              a(href='#') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yacy; &tcy;&ocy;&vcy;&acy;&rcy;&acy; &icy;&lcy;&icy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&acy;&jcy;&tcy;&acy;  &Tcy;&rcy;&icy; &scy;&tcy;&rcy;...
    section.__h-fat-v2-bottom
      .container
        .__fat-wrap
          .__fat-v2-nav
            ul
              li
                a(href='#') &Pcy;&ucy;&ncy;&tcy; &mcy;&iecy;&ncy;&yucy;
              li
                a.active(href='#') &Ocy;&chcy;&iecy;&ncy;&softcy; &dcy;&lcy;&icy;&ncy;&ncy;&ycy;&jcy; &pcy;&ucy;&ncy;&kcy;&tcy; &mcy;&iecy;&ncy;&yucy;
              li
                a(href='#') &Pcy;&ucy;&ncy;&tcy; &mcy;&iecy;&ncy;&yucy;
              li
                a(href='#') &Ocy;&chcy;&iecy;&ncy;&softcy; &dcy;&lcy;&icy;&ncy;&ncy;&ycy;&jcy; &pcy;&ucy;&ncy;&kcy;&tcy; &mcy;&iecy;&ncy;&yucy;
                ul
                  li
                    a(href='#') &Ocy;&chcy;&iecy;&ncy;&softcy; &dcy;&lcy;&icy;&ncy;&ncy;&ycy;&jcy; &pcy;&ucy;&ncy;&kcy;&tcy; &mcy;&iecy;&ncy;&yucy; &vcy;&tcy;&ocy;&rcy;&ocy;&gcy;&ocy; &ucy;&rcy;&ocy;&vcy;&ncy;&yacy; &iecy;&scy;&tcy;&softcy; &iecy;&scy;&tcy;&softcy;
                  li
                    a(href='#') &Ocy;&chcy;&iecy;&ncy;&softcy; &dcy;&lcy;&icy;&ncy;&ncy;&ycy;&jcy; &pcy;&ucy;&ncy;&kcy;&tcy; &mcy;&iecy;&ncy;&yucy; &vcy;&tcy;&ocy;&rcy;&ocy;&gcy;&ocy; &ucy;&rcy;&ocy;&vcy;&ncy;&yacy; &iecy;&scy;&tcy;&softcy; &iecy;&scy;&tcy;&softcy;
                  li
                    a(href='#') &Ocy;&chcy;&iecy;&ncy;&softcy; &dcy;&lcy;&icy;&ncy;&ncy;&ycy;&jcy; &pcy;&ucy;&ncy;&kcy;&tcy; &mcy;&iecy;&ncy;&yucy; &vcy;&tcy;&ocy;&rcy;&ocy;&gcy;&ocy; &ucy;&rcy;&ocy;&vcy;&ncy;&yacy; &iecy;&scy;&tcy;&softcy; &iecy;&scy;&tcy;&softcy;
                  li
                    a(href='#') &Ocy;&chcy;&iecy;&ncy;&softcy; &dcy;&lcy;&icy;&ncy;&ncy;&ycy;&jcy; &pcy;&ucy;&ncy;&kcy;&tcy; &mcy;&iecy;&ncy;&yucy; &vcy;&tcy;&ocy;&rcy;&ocy;&gcy;&ocy; &ucy;&rcy;&ocy;&vcy;&ncy;&yacy; &iecy;&scy;&tcy;&softcy; &iecy;&scy;&tcy;&softcy;
              li
                a(href='#') &Pcy;&ucy;&ncy;&tcy; &mcy;&iecy;&ncy;&yucy;
          .__fat-v2-options
            ul
              li
                a(href='#' data-fancybox='city-selection' data-src='#city-selection')
                  | &Scy;&acy;&mcy;&acy;&rcy;&acy; 
                  span.caret
              li
                a(href='#')
                  img(src=require('../../../../public/images/header-icons/item-white.svg') alt='')
                  | 12
              li
                a(href='#')
                  img(src=require('../../../../public/images/header-icons/cart-icon-white.svg') alt='')
                  | 123 456
              li
                a(href='#')
                  img(src=require('../../../../public/images/header-icons/profile-icon-white.svg') alt='')
                  | &Vcy;&khcy;&ocy;&dcy;
                span /
                a(href='#')  &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
          // modal  Выберите свой город
          #city-selection.modal.modal--wide(style='display: none;')
            .modal-content
              span.h2 &Vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &scy;&vcy;&ocy;&jcy; &gcy;&ocy;&rcy;&ocy;&dcy;
              ul.city-list
                li
                  a(href='/location/set-location/9/') &Tcy;&ocy;&lcy;&softcy;&yacy;&tcy;&tcy;&icy;
                li
                  a(href='/location/set-location/10/') &Ucy;&lcy;&softcy;&yacy;&ncy;&ocy;&vcy;&scy;&kcy;
                li
                  a(href='/location/set-location/11/') &Bcy;&ucy;&zcy;&ucy;&lcy;&ucy;&kcy;
                li
                  a(href='/location/set-location/8/') &Ucy;&fcy;&acy;
                li
                  a(href='/location/set-location/4/') &Scy;&acy;&mcy;&acy;&rcy;&acy;
                li
                  a(href='/location/set-location/12/') &Kcy;&acy;&zcy;&acy;&ncy;&softcy;
                li
                  a(href='/location/set-location/13/') &Ocy;&rcy;&iecy;&ncy;&bcy;&ucy;&rcy;&gcy;
          // ---
    // header mobile
    header.header--mob
      .container
        .row
          .col-3
            .logo
              a(href='#')
                img(src=require('../../../../public/images/header-icons/logo.svg') alt='')
          .col-5
            .phone--box
              a(href='#') +7-927-711-9393
              a(href='#') +7-927-711-9393
          .col-4
            .burger-box
              // phone
              a.tel-mob(data-fancybox='callme-modal-mob' data-src='#callme-modal' href='#')
                img(src=require('../../../../public/images/header-icons/tel-mob-icon.svg') alt='')
                |  &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;
                |                                     &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;
              button#my-button.btn
                svg(width='17' height='14' viewbox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                  rect(width='17' height='2' rx='1' fill='#2363D1')
                  rect(y='6' width='17' height='2' rx='1' fill='#2363D1')
                  rect(y='12' width='17' height='2' rx='1' fill='#2363D1')
      // mmenujs (mobile menu)
      nav#my-menu
        ul
          li
            a(href='#') &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
            ul
              li
                a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 1
              li
                a(href='#') &IEcy;&scy;&lcy;&icy; &iecy;&scy;&tcy;&softcy; &iecy;&shchcy;&iecy; &vcy;&ncy;&ucy;&tcy;&rcy;&iecy;&ncy;&ncy;&ycy;&iecy; &pcy;&ucy;&ncy;&kcy;&tcy;&ycy;
                ul
                  li
                    a(href='#') &Vcy;. &pcy;&ucy;&ncy;&kcy;&tcy; 1
                  li
                    a(href='#') &Vcy;. &pcy;&ucy;&ncy;&kcy;&tcy; 2
                  li
                    a(href='#') &Vcy;. &pcy;&ucy;&ncy;&kcy;&tcy; 3
                  li
                    a(href='#') &Vcy;. &pcy;&ucy;&ncy;&kcy;&tcy; 4
              li
                a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 3
              li
                a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 3
              li
                a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 4
              li
                a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 5
              li
                a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 6
              li
                a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&iecy;&tscy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &acy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&ncy;&kcy;&tcy;&acy; 7
          ul.mm_navbar_mob
            li
              a(href='#') &Mcy;&iecy;&ncy;&yucy; 1
            li
              a(href='#') &Mcy;&iecy;&ncy;&yucy; 2
          ul.mm-other-options
            li
              a(href='#')
                img(src=require('../../../../public/images/header-icons/item-orange.svg') alt='')
                |  3
            li
              a(href='#' data-fancybox='callme-modal-mob-menu' data-src='#callme-modal')
                img(src=require('../../../../public/images/header-icons/tel-mob-icon.svg') alt='')
                |  &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;
          ul.mm-other-options
            li
              a(href='#')
                img(src=require('../../../../public/images/header-icons/tel-mob-icon.svg') alt='')
                |  +7-927-711-9393
            li
              a(href='#')
                img(src=require('../../../../public/images/header-icons/tel-mob-icon.svg') alt='')
                |  +7-927-711-9393
          // Личный кабинет
          li
            a.login(href='#')
              img(src=require('../../../../public/images/header-icons/profile-icon-orange.svg') alt='')
              |  &Vcy;&ycy;&jcy;&tcy;&icy;
        // меню
    // ---
    // Нельзя менять section в div иначе mmenu (#my-menu) не будет работать корректно
    section.header--bottom-mob.bottom-fixed
      .container
        .row
          .col-8.pr--0
            .search--box
              #overlay_mob(onclick='javascript: close_all_mob();')
              // s-icon-left = кнопка submit было слево
              // s-icon-right = кнопка submit было справо
              form.s-icon-right(action='')
                input#edit_search_mob(type='text' autocomplete='off' onkeyup='javascript: find_my_div_mob();')
                button.btn.submit
                  img(src=require('../../../../public/images/header-icons/s-icon-mob.svg') alt='')
              #search-result-mob
                a#user_0.s-item-link(href='#')
                  .s-item-img
                    img(src=require('../../../../public/images/30851ff8e294859c3b812fef189cce5b.jpeg') alt='')
                  .s-item-info
                    span.s-item-title &Zcy;&ocy;&lcy;&ocy;&tcy;&ocy;&iecy; &yacy;&bcy;&lcy;&ocy;&kcy;&ocy;
                    span.s-item-price 247$
                a#user_1.s-item-link(href='#')
                  .s-item-img
                    img(src=require('../../../../public/images/30851ff8e294859c3b812fef189cce5b.jpeg') alt='')
                  .s-item-info
                    span.s-item-title &dcy;&ocy;&scy;&kcy;&acy; asd asd asd asdas 
                    span.s-item-price 247$
                a#user_2.s-item-link(href='#')
                  .s-item-img
                    img(src=require('../../../../public/images/30851ff8e294859c3b812fef189cce5b.jpeg') alt='')
                  .s-item-info
                    span.s-item-title &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
                    span.s-item-price 247$
                a#user_3.s-item-link(href='#')
                  .s-item-img
                    img(src=require('../../../../public/images/30851ff8e294859c3b812fef189cce5b.jpeg') alt='')
                  .s-item-info
                    span.s-item-title &Zcy;&ocy;&lcy;&ocy;&tcy;&ocy;&iecy; &yacy;&bcy;&lcy;&ocy;&kcy;&ocy;
                    span.s-item-price 247$
                a#user_4.s-item-link(href='#')
                  .s-item-img
                    img(src=require('../../../../public/images/30851ff8e294859c3b812fef189cce5b.jpeg') alt='')
                  .s-item-info
                    span.s-item-title &dcy;&ocy;&scy;&kcy;&acy; asd asd asd asdas 
                    span.s-item-price 247$
                a#user_5.s-item-link(href='#')
                  .s-item-img
                    img(src=require('../../../../public/images/30851ff8e294859c3b812fef189cce5b.jpeg') alt='')
                  .s-item-info
                    span.s-item-title &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
                    span.s-item-price 247$
                a.all-items-link(href='#') &Vcy;&scy;&iecy; &kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;&icy;
          .col-4
            // если добавить класс bordered у custom-mob-cart то у корзини будет оранжевая граница
            a.custom-mob-cart.bordered(href='#')
              span 15735622
              img(src=require('../../../../public/images/header-icons/cart-icon-white.svg') alt='')
